<!-- ======================================= content ======================================= -->
<main id="content">
    <header class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1>Artisti </h1>
                    <p>tutte gli artisti.</p>
                </div>
                <div class="col-sm-6 hidden-xs">
                    <ul id="navTrail">
                        <li><a href="index.html">Home</a></li>
                        <li id="navTrailLast">Artisti</li>
                    </ul>

                </div>
            </div>
        </div>
    </header>

    <section class="pt40 pb40">
        <!-- team -->
        <div class="container">
            <div class="row">
                <div class="col-sm-4" *ngFor="let artist of list">
                    <article>
                        <div><img src="{{artist.img}}" alt="" class="img-responsive"></div>
                        <div class="boxContent color2 text-center">
                            <h3>
                                <a href="#/artisti/{{artist.id}}" class="moreLink">{{artist.name}}</a>
                            </h3>
                            <p>{{artist.bio}}</p>
                        </div>
                        <div class="boxContent color1 text-center">
                            <a href="#">{{artist.nationality}}</a>
                            <ul class="socialNetwork mt15">
                                <li>
                                    <a href="#" class="tips" title="" data-original-title="follow me on Facebook">
                                        <span class="badge">2016</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="tips" title="" data-original-title="follow me on Twitter">
                                        <span class="badge">2015</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="tips" title="" data-original-title="follow me on Google+">
                                        <span class="badge">2014</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <!-- team -->
</main>
<!-- / content -->


<!--
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->