<!-- ======================================= content ======================================= -->
<main id="content">
    <header class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1>Artisti </h1>
                    <p>tutte gli artisti.</p>
                </div>
                <div class="col-sm-6 hidden-xs">
                    <ul id="navTrail">
                        <li><a href="index.html">Home</a></li>
                        <li id="navTrailLast">Artisti</li>
                    </ul>

                </div>
            </div>
        </div>
    </header>
    <section class="pt30 pb30">
        <div class="container clearfix">
            <div class="row">
                <!-- portfolio item -->
                <article class="col-sm-4 isotopeItem women" *ngFor="let artist of list">
                    <div class="pinBox">
                        <figure>
                            <img alt="" src="{{artist.img}}" class="img-responsive">
                        </figure>
                        <section class="boxContent">
                            <h3>
                                <a href="#/artisti/{{artist.id}}" class="moreLink" (click)="onSelect(artist)">{{artist.name}}</a>
                            </h3>
                            <p>
                                {{artist.bio}}
                            </p>
                        </section>
                    </div>
                </article>
                <!-- portfolio item -->
            </div>
        </div>
    </section>
</main>
<!-- / content -->


<!--
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->