<!-- ======================================= content ======================================= -->
<main id="content">
    <header class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1>Museo Pietraia dei Poeti </h1>
                    <p>Il museo sorge su una sommità.</p>
                </div>
                <div class="col-sm-6 hidden-xs">
                    <ul id="navTrail">
                        <li><a href="index.html">Home</a></li>
                        <li id="navTrailLast">Museo Pietraia dei Poeti</li>
                    </ul>

                </div>
            </div>
        </div>
    </header>
    <section class="pt30 pb30">
        <div class="container clearfix">
            <div class="row">
                <h3>museo pietraia dei poeti</h3>
                <p>
                    Il Museo Pietraia dei Poeti sorge sulla sommità di una collina sovrastante San Benedetto del Tronto,
                    in contrada Barattelle, a pochi chilometri dalla cittadina. Esso è parte del territorio di proprietà
                    dello scultore Marcello Sgattoni che vi abita occupandosi oltre che di arte anche di attività
                    agricole.<br/>
                    La Pietraia è una lingua di terra incontaminata di circa duecento metri di lunghezza larga in media
                    venti che decine di anni fa era occupata da un vigneto di cui restano a ricordo alcune viti
                    inselvatichite lungo la recinzione.<br/>
                    E' un'estensione ciottolosa riarsa dal sole in estate,
                    frequentata spesso dal vento, dove è cresciuta una pineta nella parte iniziale, intorno ad una
                    vecchia cisterna coperta ora adibita a deposito.<br/>
                    Lo scultore Sgattoni parecchi anni fa cominciò a disporre su questa superficie molte delle sue
                    creazioni, alcune monumentali, che si sono integrate naturalmente con l'ambiente circostante
                    esaltandolo, anche perché costituite di materiali derivati dal territorio stesso come tronchi di
                    legno e sassi.<br/>
                    Di li nacque l'idea di fare di quella estensione di terra un luogo di esposizione permanente delle
                    sue sculture, accessibile a tutte le persone , anche diversamente abili. È iniziato cosi un lavoro
                    duro e generoso da parte del Maestro e di numerosi collaboratori volontari coinvolti
                    nell'allestimento del percorso museale che è stato ufficialmente inaugurato al pubblico nell'agosto
                    2006.<br/>
                    L'itinerario è accessibile anche a non vedenti o ipovedenti grazie a guide di corda o lignee a terra
                    e descrizioni in Braille o Mp3.<br/>
                    Inoltre è stato creato un sito Internet ugualmente accessibile a non vedenti per illustrare il Museo
                    e gli eventi ad esso collegati.<br/>
                    Nel dicembre 2006 è nata la Fondazione Pietraia dei Poeti, il cui intento è innanzitutto quello di
                    sostenere l'opera di Marcello Sgattoni, di mantenerne l'unità nel luogo dove è nata,di diffonderne
                    la conoscenza.<br/>
                    La Fondazione si propone inoltre di promuovere l'opera di altri artisti soprattutto del territorio
                    tramite l'organizzazione di eventi come mostre, concerti,interpretazioni teatrali sempre all'insegna
                    della multisensorialità, sia nell'ambito degli itinerari del Museo Pietraia dei Poeti sia altrove.
                </p>
            </div>
        </div>
    </section>
</main>
<!-- / content -->