<!-- ======================================= content ======================================= -->
<main id="content">
    <header class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1>Contatti </h1>
                    <p>email, telefono, indirizzo</p>
                </div>
                <div class="col-sm-6 hidden-xs">
                    <ul id="navTrail">
                        <li><a href="index.html">Home</a></li>
                        <li id="navTrailLast">Contatti</li>
                    </ul>

                </div>
            </div>
        </div>
    </header>
    <section class="pt30 pb30">
        <div class="container clearfix">
            <div class="row">
                <h3>contatti</h3>
            </div>
        </div>
    </section>
</main>
<!-- / content -->