<ul class="nav navbar-nav pull-right">
  <li  routerLinkActive="active">
    <a href="#/home">Home</a>
  </li>
  <li class="sep"></li>
  <li  routerLinkActive="active">
    <a href="#/edizioni">Edizioni</a>
  </li>
  <li class="sep"></li>
  <li  routerLinkActive="active">
    <a href="#/artisti">Artisti</a>
  </li>
  <li class="sep"></li>
  <li  routerLinkActive="active">
    <a href="#/museo">Museo</a>
  </li>
  <li class="sep"></li>
  <li  routerLinkActive="active last">
    <a href="#/dove-siamo">Dove Siamo</a>
  </li>
  <li class="sep"></li>
  <li  routerLinkActive="active last"><a href="#/contatti">Contatti</a></li>
</ul>