<!-- ======================================= content ======================================= -->
<main id="content">
    <header class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1>Dove Siamo </h1>
                    <p>Come Arrivare al Museo Pietraia dei Poeti.</p>
                </div>
                <div class="col-sm-6 hidden-xs">
                    <ul id="navTrail">
                        <li><a href="index.html">Home</a></li>
                        <li id="navTrailLast">Dove Siamo</li>
                    </ul>

                </div>
            </div>
        </div>
    </header>
    <section class="pt30 pb30">
        <div class="container clearfix">
            <div class="row">
                <h3>dove siamo</h3>
                <p>
                    Il museo Pietraia dei poeti si trova in contrada barattelle 3 a S.Benedetto del Tronto (Ascoli Piceno).<br/>
                    Il museo si trova a metà strada tra San Bendetto del Tronto e Acquaviva Picena.<br/>
                    Di seguito le indicazioni per arrivare dal Nord o Sud Italia.<br/>
                    <br/><br/>
                    Per chi viene da Ancona<br/>
                    Prendere Autostrada A14/E55 seguendo il cartello Ancona.<br/>
                    Uscire al casello di Grottammare e prendere Via della Fratellanza [670m] seguendo il cartello Grottammare.<br/>
                    Passare per Via Gian Lorenzo Bernini e svoltare a destra SS16 (Via Ischia Prima) [330m].<br/>
                    Entrare a San Benedetto del Tronto.<br/>
                    Continuare lungo la SS16 [2 Km].<br/>
                    Svoltare a destra Via Santa Lucia (SP175) [450m]<br/>
                    Uscire da San Benedetto del Tronto e continuare per SP175 [4.1km]<br/>
                    Svoltare a destra (c'è un cartello con scritto "Museo Pietraia dei Poeti" ) e continuare per Contrada Barattelle.<br/>
                    <br/>
                    Per chi viene da Pescara<br/>
                    Prendere Autostrada A14/E55 seguendo il cartello Pescara.<br/>
                    Uscire al casello San Benedetto del Tronto/Ascoli Piceno e continuare per SS16 [940m].<br/>
                    Uscire e prendere SP227 [4.7km] seguendo il cartelloS.Benedetto del Tronto.<br/>
                    Continuare lungo la SS16 (S.S. 16) [2km]<br/>
                    Svoltare a sinistra Via Santa Lucia (SP175) [450m]<br/>
                    Uscire da San Benedetto del Tronto e continuare per SP175 [4.1km]<br/>
                    Svoltare a destra (c'è un cartello con scritto "Museo Pietraia dei Poeti" ) e continuare per Contrada Barattelle.<br/>
                </p>
            </div>
        </div>
    </section>
</main>
<!-- / content -->